@page
@model SuccessModel
@{
    ViewData["Title"] = "Success";
}

<h1 class="text-success">The service request has been submitted successfully.</h1>
<h2 class="text-success">Thank you.</h2>
<br />
<form id="success" method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit Another Request</button>
    </div>
</form>